
@keyframes button {
    0%, 100% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1.4);
    }
}

.my_class {
    animation: button 3s infinite; 
    animation: neon-glow 1.5s ease-in-out infinite alternate;
}

/* Estilos para elementos com IDs #hhh e #my_js */
#hhh, #my_js {
    color: white;
    background-color: #3498db;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Efeito de sombra com valores ajustados */

    /* Efeito de escala no hover */
    transform-origin: center;
}

#hhh:hover, #my_js:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Estilos para todos os botões */
button {
    height: 7%;
    padding: 0%;
    margin: 1%;
    border-radius: 6%;
}

/* Estilos para a div #div1 */
#div1 {
    height: 88%;
    border: 2px solid;
    margin: 0%;
    word-spacing: 0%;
}

/* Animação de botão de neon */
button.neon-button {
    background-color: #0f0;
    box-shadow: 0 10px #0f0;
    animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    from {
        box-shadow: 0 0 80px #0f0;
    }
    to {
        box-shadow: 0 0 15px #0f0, 0 0 20px #0f0, 0 0 25px #0f0;
    }
}

/* Animação de texto de máquina de escrever */
h1.typewriter {
    overflow: hidden;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
/* Animação de botão com escala */
@keyframes button-scale {
    0%, 100% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1.4);
    }
}
.my_class {
    animation: button-scale 3s infinite;
}